body{

margin:0;

background:#1b1b1b;

font-family:Arial;

color:white;

}

.top{

display:flex;

justify-content:space-between;

padding:20px;

background:#111;

}

.contenedor{

width:500px;

margin:auto;

text-align:center;

}

input{

width:250px;

padding:10px;

margin:10px;

font-size:18px;

}

button{

padding:12px 35px;

font-size:20px;

cursor:pointer;

background:#18b218;

color:white;

border:none;

border-radius:8px;

}

#tablero{

margin-top:40px;

display:grid;

grid-template-columns:repeat(5,70px);

gap:8px;

justify-content:center;

}

.casilla{

width:70px;

height:70px;

background:#444;

cursor:pointer;

border-radius:8px;

}