*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,Helvetica,sans-serif;

}

body{

background:#111;

color:white;

}

.top{

width:100%;

height:70px;

background:#191919;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

font-size:22px;

font-weight:bold;

border-bottom:2px solid #2c2c2c;

}

#misPuntos{

color:#00ff7b;

}

#activos{

color:#4da6ff;

}

.contenedor{

width:100%;

display:flex;

flex-direction:column;

align-items:center;

margin-top:30px;

}

h1{

margin-bottom:25px;

font-size:45px;

}

input{

width:260px;

padding:12px;

font-size:18px;

margin:8px;

border:none;

border-radius:8px;

outline:none;

}

button{

width:260px;

padding:12px;

font-size:22px;

border:none;

border-radius:8px;

background:#00b140;

color:white;

cursor:pointer;

margin-top:10px;

transition:.2s;

}

button:hover{

transform:scale(1.05);

background:#00d64d;

}

#estado{

margin-top:25px;

text-align:center;

min-height:120px;

}

#turno{

margin-top:15px;

font-size:25px;

}

#tablero{

margin-top:30px;

display:grid;

grid-template-columns:repeat(5,80px);

grid-template-rows:repeat(5,80px);

gap:8px;

}

.casilla{

width:80px;

height:80px;

background:#333;

display:flex;

justify-content:center;

align-items:center;

font-size:32px;

font-weight:bold;

cursor:pointer;

border-radius:8px;

transition:.15s;

user-select:none;

}

.casilla:hover{

background:#555;

transform:scale(1.05);

}

@media(max-width:700px){

#tablero{

grid-template-columns:repeat(5,60px);

grid-template-rows:repeat(5,60px);

}

.casilla{

width:60px;

height:60px;

font-size:24px;

}

.top{

font-size:17px;

padding:15px;

}

h1{

font-size:32px;

}

input{

width:90%;

}

button{

width:90%;

}

}