*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,Helvetica,sans-serif;

}

body{

background:
linear-gradient(rgba(0,0,0,.72),rgba(0,0,0,.82)),
url("https://images.unsplash.com/photo-1511512578047-dfb367046420?auto=format&fit=crop&w=1920&q=80");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:white;

overflow-x:hidden;

}

.jugadoresPartida{

display:flex;

justify-content:space-between;

align-items:center;

margin:15px auto;

max-width:470px;

}

.premioCentro{

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

min-width:120px;

}

.tituloPremio{

font-size:13px;

color:#FFD700;

font-weight:bold;

}

.avatarInicial{

width:42px;
height:42px;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-weight:bold;
font-size:18px;

color:white;

background:#3b82f6;

border:2px solid gold;

flex-shrink:0;

}

.valorPremio{

font-size:24px;

font-weight:bold;

color:#00ff84;

text-shadow:0 0 12px #00ff84;

margin-top:4px;

}

.jugadorInfo{

display:flex;

align-items:center;

gap:10px;

}

.derecha{

text-align:right;

}

.fotoJugador{

width:42px;

height:42px;

border-radius:50%;

border:2px solid gold;

object-fit:cover;

background:#3b82f6;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

color:white;

font-size:18px;

}

.nombreJugador{

font-size:15px;

font-weight:bold;

color:white;

}

.saldoJugador{

font-size:12px;

color:#FFD700;

}

.btnDepositar{

width:90px;

height:30px;

padding:0;

font-size:11px;

background:#0099ff;

color:white;

border:none;

border-radius:20px;

margin:0;

}

.btnDepositar:hover{

transform:scale(1.05);

box-shadow:0 0 10px #00b4ff;

}

.ladoDerecho{

display:flex;

align-items:center;

gap:12px;

}

.contenedor{

width:100%;

max-width:900px;

margin:auto;

padding:25px;

text-align:center;

}

#titulo{

font-size:55px;

color:#FFD700;

margin-bottom:25px;

text-shadow:

0 0 15px gold,

0 0 35px #ffae00;

}

.barraSuperior{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.perfil{

display:flex;

align-items:center;

gap:15px;

}

#foto{

width:65px;

height:65px;

border-radius:50%;

border:3px solid gold;

box-shadow:0 0 20px gold;

}

#nombreUsuario{

font-size:22px;

font-weight:bold;

}

.online{

color:#00ff80;

font-size:15px;

margin-top:3px;

}

.saldo{

font-size:10px;

font-weight:bold;

color:#FFD700;

text-shadow:0 0 12px gold;

}

#panelJuego{

display:flex;

justify-content:center;

align-items:stretch;

gap:10px;

margin:40px 0;

height:60px;
width: 95%; 
max-width: 420px;

}

#apuesta{

width:260px;

height:100%;

margin:0 10px 0 0;

padding:0 14px;

font-size:19px;

border:none;

border-radius:10px;

outline:none;

}

#jugar{

display:flex;

gap:8px;

align-items:center;

justify-content:center;

height:100%;

padding:0 40px;

margin:0;

font-size:19px;

font-weight:bold;

border:none;

border-radius:10px;

cursor:pointer;

background:linear-gradient(45deg,#FFD700,#ff9d00);

color:black;

}

#jugar:hover{

transform:scale(1.08);

box-shadow:0 0 25px gold;

}

#turno{

margin-top:15px;

font-size:28px;

font-weight:bold;

}

#tablero{

margin:10px auto;

display:grid;

grid-template-columns:repeat(5,85px);

gap:10px;

justify-content:center;

}

.casilla{

width:85px;

height:85px;

background:linear-gradient(#179a36,#0b641d);

border-radius:12px;

display:flex;

justify-content:center;

align-items:center;

font-size:36px;

cursor:pointer;

transition:.2s;

box-shadow:0 0 12px rgba(0,255,120,.25);

}

.casilla:hover{

transform:translateY(-5px) scale(1.05);

box-shadow:0 0 18px lime;

}

.ganaste{

font-size:50px;

color:#FFD700;

text-shadow:

0 0 15px gold,

0 0 30px gold;

animation:zoom .5s;

}

@keyframes zoom{

0%{

transform:scale(.4);

opacity:0;

}

100%{

transform:scale(1);

opacity:1;

}

}

@media(max-width:700px){
	
	
.jugadoresPartida{

    margin:30px auto 15px auto;

}

#tablero{

    margin-top:20px;

}
	
#panelJuego{

    gap:8px;
	
	margin:0 auto;

    padding:0 8px;
	height:64px;

}

#apuesta{

    width:100%;

    flex:1;

    min-width:0;

    margin-bottom:0;

    font-size:15px;

}

#apuesta::placeholder{

    font-size:12px;

}

#jugar{

    padding:0 20px;

    white-space:nowrap;

    flex-shrink:0;

}

.barraSuperior{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

transform:scale(1.0);

transform-origin:top center;

}

#tablero{

display:grid;

grid-template-columns:repeat(5,55px);

gap:6px;

width:fit-content;

margin-left:auto;

margin-right:auto;

}

.perfil{

display:flex;

align-items:center;

gap:8px;

}

#foto{

width:45px;

height:45px;

}

#nombreUsuario{

font-size:15px;

font-weight:bold;

}

.online{

font-size:12px;

}

.saldo{

right:8px;

top:8px;

font-size:20px;

}

#titulo{

font-size:34px;

margin-top:10px;

margin-bottom:20px;

}

#apuesta{

    margin-bottom:25px;

}

.casilla{

width:55px;

height:55px;

font-size:24px;

}

.contenedor{

padding:10px;

}
}

.modalPerfil{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.75);

justify-content:center;

align-items:center;

z-index:9999;

}

.ventanaPerfil{

width:90%;

max-width:380px;

background:#1b1b1b;

border-radius:20px;

padding:30px;

text-align:center;

border:2px solid gold;

}

#fotoPerfilModal{

width:90px;

height:90px;

border-radius:50%;

border:3px solid gold;

margin-bottom:15px;

}

.btnPerfil{

width:100%;

margin-top:12px;

padding:15px;

font-size:18px;

background:linear-gradient(45deg,#FFD700,#ff9d00);

border:none;

border-radius:10px;

cursor:pointer;

}

.btnCerrar{

width:100%;

margin-top:15px;

padding:12px;

background:#c62828;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.pantallaCarga{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.93);

justify-content:center;

align-items:center;

text-align:center;

z-index:999999;

}

.pantallaCarga h2{

margin-top:30px;

font-size:34px;

color:#FFD700;

text-shadow:0 0 15px gold;

}

.pantallaCarga p{

margin-top:10px;

font-size:18px;

color:white;

}

.loader{

width:80px;

height:80px;

border:8px solid rgba(255,255,255,.2);

border-top:8px solid #FFD700;

border-radius:50%;

animation:girar 1s linear infinite;

margin:auto;

}

@keyframes girar{

100%{

transform:rotate(360deg);

}

}

.tituloMesas{

margin-top:35px;

margin-bottom:20px;

font-size:28px;

font-weight:bold;

color:#FFD700;

text-align:center;

text-shadow:0 0 15px gold;

}

#listaMesas{

display:flex;

flex-direction:column;

gap:15px;

margin-bottom:30px;

}

.mesa{

width:100%;

max-width:340px;

margin:10px auto;

background:#1c1c1c;

border:2px solid gold;

border-radius:12px;

padding:12px;

text-align:center;

box-shadow:0 0 12px rgba(255,215,0,.25);

}

.nombreMesa{

font-size:18px;

font-weight:bold;

color:white;

margin-bottom:8px;

}

.textoMesa{

font-size:15px;

color:#ddd;

margin-bottom:12px;

line-height:1.4;

}

.btnAceptar{

width:140px;

height:42px;

font-size:16px;

font-weight:bold;

background:#00b140;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

.btnAceptar:hover{

background:#00d64d;

}

.mesa:hover{

transform:scale(1.02);

box-shadow:0 0 20px gold;

}

.infoMesa{

display:flex;

flex-direction:column;

gap:8px;

}

.nombreMesa{

font-size:22px;

font-weight:bold;

}

.apuestaMesa{

font-size:24px;

color:#00ff84;

font-weight:bold;

}

.btnAceptar{

width:150px;

height:50px;

background:#00b140;

color:white;

font-size:18px;

font-weight:bold;

border:none;

border-radius:12px;

cursor:pointer;

}

.btnAceptar:hover{

background:#00d64d;

}

.pantallaBusqueda{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.92);

justify-content:center;
align-items:center;

z-index:99999;

}

.ventanaBusqueda{

width:90%;
max-width:420px;

background:#1b1b1b;

border:2px solid gold;

border-radius:20px;

padding:35px;

text-align:center;

box-shadow:0 0 30px gold;
padding-bottom:45px;

}

#cancelarBusqueda{

width:100%;

height:52px;

margin-top:35px;

background:linear-gradient(45deg,#ff4d4d,#d90429);

color:white;

font-size:17px;

font-weight:bold;

border:none;

border-radius:14px;

cursor:pointer;

transition:.25s;

box-shadow:0 0 18px rgba(255,0,0,.35);

}

#cancelarBusqueda:hover{

transform:translateY(-2px) scale(1.03);

background:linear-gradient(45deg,#ff6666,#ff0033);

box-shadow:0 0 28px rgba(255,0,0,.6);

}

.sinMesas{

padding:25px;

background:#1b1b1b;

border-radius:12px;

font-size:18px;

color:#999;

text-align:center;

}

.pantallaResultado{

display:none;

position:fixed;

inset:0;

display:flex;

justify-content:center;

align-items:center;

pointer-events:none;

z-index:9999999;

}

#textoResultado{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

font-size:clamp(50px,10vw,90px);

font-weight:bold;

text-align:center;

white-space:nowrap;

text-shadow:
0 0 15px black,
0 0 30px black,
0 0 50px black;

animation:zoom .25s;

}

.ganar{

color:#FFD700;

text-shadow:
0 0 20px gold,
0 0 40px gold;

}

.perder{

color:#ff3030;

text-shadow:
0 0 20px red,
0 0 40px red;

}

@keyframes fade{

from{opacity:0;}

to{opacity:1;}

}

.popupMesa{

    display:none;

    width:100%;

    max-width:430px;

    margin:25px 0;

    padding:10px;

    background:#1c1c1c;

    border:2px solid gold;

    border-radius:12px;

    text-align:center;

}

#popupNombre{

font-size:18px;

font-weight:bold;

margin-bottom:8px;

color:white;

}

#popupTexto{

    font-size:13px;

    color:#ddd;

    text-align:center;

    line-height:18px;

    margin-bottom:10px;

}

#popupAceptar{

width:100%;

height:42px;

border:none;

border-radius:10px;

font-size:16px;

font-weight:bold;

background:#00b140;

color:white;

cursor:pointer;

}

#popupAceptar:hover{

background:#00d64d;

}

@keyframes popup{

from{

opacity:0;

transform:translateY(-20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@media(max-width:700px){

.popupMesa{

    display:none;

    width:100%;

    max-width:430px;

    margin:12px auto;

    padding:10px;

    background:#1c1c1c;

    border:2px solid gold;

    border-radius:12px;

    text-align:center;

}


#popupNombre{

    font-size:15px;

    font-weight:bold;

    margin-bottom:4px;

    color:white;

}

#popupTexto{

    font-size:12px;

    color:white;

    text-align:center;

    line-height:17px;

    margin-bottom:8px;

}

#popupAceptar{

    width:100%;

    height:34px;

    font-size:13px;

    border:none;

    border-radius:8px;

    background:#00b140;

    color:white;

    font-weight:bold;

}

}

.popupBono{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.75);

display:none;

justify-content:center;

align-items:center;

z-index:99999;

}

.ventanaBono{

width:90%;
max-width:360px;

background:#111;

border-radius:20px;

padding:25px;

text-align:center;

color:white;

border:3px solid gold;

}

#btnRecibirBono{

margin-top:20px;

width:100%;

height:50px;

border:none;

border-radius:12px;

background:gold;

font-size:18px;

font-weight:bold;

cursor:pointer;

}

.saldoUsuario{

    margin-top:4px;

    font-size:16px;

    font-weight:bold;

    color: white;

    display:flex;

    align-items:center;

    gap:4px;

}

/*==========================
JUGAR CON AMIGOS
==========================*/

#jugarAmigos{
    width:170px;
    height:28px;
    font-size:13px;
    border-radius:18px;
    margin:8px auto 15px;
    display:block;
}

#jugarAmigos:hover{

    transform:scale(1.03);

    box-shadow:0 0 18px #3b82f6;

}

.popupAmigos{

    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0,0,0,.75);

    justify-content:center;
    align-items:center;

    z-index:999999;

}

.ventanaAmigos{

    width:90%;
    max-width:360px;

    background:#171717;

    border:2px solid gold;

    border-radius:18px;

    padding:22px;

    text-align:center;

    color:white;

}

.puestoRanking{

    color:#FFD700;

    font-size:13px;

    font-weight:bold;

    margin-bottom:4px;

    text-shadow:0 0 8px gold;

}

#loginGoogle{

    width:100%;

    margin-top:10px;

}

#loginGoogle > div{

    width:100% !important;

    display:flex !important;

    justify-content:center;

}

.btnPerfil,
#jugarAmigos,
#btnRanking,
#cerrarRanking{

    width:100%;

    height:48px;

    border:none;

    border-radius:12px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    margin-top:10px;

}

#jugarAmigos{

    background:#1877F2;

    color:white;

}

#btnRanking{

    background:linear-gradient(45deg,#FFD700,#ff9800);

    color:black;

}

#cerrarRanking,
.btnCerrar{

    background:#E53935;

    color:white;

}

#popupRanking .ventanaAmigos{

    width:95%;
    max-width:450px;

    border-radius:20px;

    background:#111827;

    border:2px solid #FFD700;

    padding:20px;

}

.ventanaAmigos h2{

    margin-bottom:20px;

    color:#FFD700;

}

#crearSala,
#entrarSala,
#copiarLink,
#cerrarAmigos{

    width:100%;
    height:46px;

    margin-top:12px;

    border:none;

    border-radius:10px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

}

#crearSala{

    background:#16a34a;

    color:white;

}

#entrarSala{

    background:#2563eb;

    color:white;

}

#copiarLink{

    background:#FFD700;

    color:black;

}

#cerrarAmigos{

    background:#d90429;

    color:white;

}

#codigoSala{

    width:100%;

    height:46px;

    margin-top:15px;

    border:none;

    border-radius:10px;

    padding:0 12px;

    font-size:16px;

    text-align:center;

}

#linkSala{

    margin-top:15px;

    font-size:13px;

    color:#FFD700;

    word-break:break-all;

}

#cancelarEspera{

    margin-top:20px;

    width:170px;

    height:42px;

    border:none;

    border-radius:10px;

    background:#d90429;

    color:white;

    font-size:15px;

    font-weight:bold;

    cursor:pointer;

}

#vozPartida{

    display:none;
    margin:12px auto;

}

#btnHablar{

    width:240px;
    height:46px;

    border:none;
    border-radius:25px;

    background:#2563eb;
    color:white;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}

#btnHablar:active{

    background:#dc2626;
    transform:scale(.96);

}

.filaRanking{

    display:grid;

    grid-template-columns:40px 40px 1fr auto;

    align-items:center;

    gap:12px;

    padding:10px 8px;

    border-bottom:1px solid rgba(255,255,255,.15);

}

.posRanking{

    color:#FFD700;

    font-weight:bold;

    font-size:18px;

    text-align:center;

}

.fotoRanking{

    width:34px;

    height:34px;

    border-radius:50%;

    object-fit:cover;

}

.nombreRanking{

    color:white;

    font-size:15px;

    font-weight:bold;

}

.saldoRanking{

    color:#FFD700;

    font-size:14px;

    text-align:right;

    font-weight:bold;

}

#selectorJuego{

    display:flex;
    justify-content:center;
    margin:18px 0;

}

.casinoSelect{

    width:260px;

    height:50px;

    border:none;

    border-radius:15px;

    background:linear-gradient(145deg,#1b1b35,#111);

    color:#FFD700;

    font-size:18px;

    font-weight:bold;

    text-align:center;

    cursor:pointer;

    outline:none;

    box-shadow:
        0 0 15px rgba(255,215,0,.25),
        inset 0 0 10px rgba(255,255,255,.05);

    transition:.25s;

}

.casinoSelect:hover{

    transform:scale(1.04);

    box-shadow:
        0 0 25px gold;

}

.casinoSelect option{

    background:#101020;

    color:white;

}